

header{
  background-color:white;
  color:green;
  font-size:30px;
  font-family:verdana;
}
body{
  background-color:#668284;
  }
h1{
  font-size:30px
  color:dark green;
  font-family:sans-serif;
}
h2{
  font-family:sans-serif;
}
p{
  color:violet;
}
a{
  color:violet;
}